@font-face {
    font-family: pp-r;
    src: url(/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: pp-black;
    src: url(/fonts/Poppins-Black.ttf);
}

@font-face {
    font-family: pp-bold;
    src: url(/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: pp-light;
    src: url(/fonts/Poppins-Light.ttf);
}

